header {
	background: #2a3549;
	display: block;
	left: 0;
	max-width: 100%;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.btn-success {
	background-color:  #2a3549;
}

.btn-success:hover {
	background-color: #2a3549;
	color: #d35400;
}

body {
	margin: 0;
	font-family: Tinos, sans-serif;
	color: #4f4f4f;
}

.logo,
.header-column {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.logo {
	width: 204px;
	font-size: 32px;
	color: #fafafa;
}

.welcome-title {
	margin-top: 30px;
}

.canvas-wrap {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.canvas {
	border:2px solid #454546
}

.cloneBoard {
	margin:0 40px;
	width:340px
}

.bottom-canvas,
.item-canvas, title-canvas {
	font-size:30px;
	margin:15px auto
}

.title-canvas {
	text-align:center
}

.bottom-canvas {
	text-align:left
}

.title {
	font-size:20px;
	text-align:center;
	margin:23px auto
}

.list {
	border:1px solid #454546;
	margin:0;
	padding:0;
	list-style-type:none;
	width:340px;
	height:290px;
	overflow:hidden;
	overflow-y:auto
}

.list-item {
	height:90px;
	margin: 0;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
	-webkit-box-pack:start;
	-webkit-justify-content:flex-start;
	-ms-flex-pack:start;
	justify-content:flex-start;
	border:1px solid #454546;
	position:relative
}

.rect {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row
}

.rect-item {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	height:90px;
	width:90px
}

.rect-text {
	-webkit-align-self:center;
	-ms-flex-item-align:center;
	align-self:center;
	padding-left:20px
}

.rect-text:before {
	content:'';
	position:absolute;
	display:block;
	height:100%;
	width:1px;
	background-color:#454546;
	left:90px;
	top:0
}

.figure-rect {
	display:block;
	width:60px
}

.figure-rect>img {
	display:block;
	width:100%
}

.figure-rect-green {
	background-color:#27ae60;
	-ms-transform:rotate(-25deg);
	-webkit-transform:rotate(-25deg);
	transform:rotate(-25deg)
}

.figure-rect-blue {
	background-color:#2980b9;
	-ms-transform:rotate(20deg);
	-webkit-transform:rotate(20deg);
	transform:rotate(20deg)
}

.figure-rect-red {
	background-color:#c0392b;
	-ms-transform:rotate(0);
	-webkit-transform:rotate(0);
	transform:rotate(0)
}

.figure-rect-yellow {
	-webkit-border-radius:50%;
	border-radius:50%;
	background-color:#f39c12;
	-ms-transform:rotate(-15deg);
	-webkit-transform:rotate(-15deg);
	transform:rotate(-15deg)
}

.figure-rect-orange {
	background-color:#d35400;
	-ms-transform:rotate(-15deg);
	-webkit-transform:rotate(-15deg);
	transform:rotate(-15deg)
}

.window {
	width:100%;
	height:auto;
	min-height:200px;
	max-width:540px;
	background-color:#fff;
	margin:0 auto;
	position:absolute;
	left:0;
	right:0;
	top:30%;
	-webkit-transform:translateY(-30);
	-ms-transform:translateY(-30);
	transform:translateY(-30);
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}

.window-wrap {
	z-index:999;
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.2)
}

.window-body {
	width:100%;
	height:auto;
	text-align:center;
	padding:40px 20px 10px;
	font-size:22px;
	line-height: normal;
}

.window .closeBtn {
	cursor:pointer;
	width:32px;
	height:32px;
	display:block;
	position:absolute;
	right:0;
	top:0;
	font-size:50px;
	line-height:.7;
	text-align:center
}

.fileName {
	display:block;
	text-align:center;
	margin:0 0 5px;
	height:30px
}

input[type="checkbox"] {
	margin-right: 10px;
}

input[type="text"].step-tab-input {
	width: 40px;
	margin-left: 16px;
}

@media (max-width: 640px) {
	.row .column.form-column-50 {
		flex: 1 1 auto;
		max-width: 100%;
	}
}

.bld_choose {
	text-align: center;
}

.bld_choose img{
	width: 512px;
	margin: 0;
}

.bld_choose a{
	margin-top: 5px;
	display: inline-block;
	width: 512px;
}

input.wl-input {
	width: 250px;
	margin-top: 10px;
}